@import 'variables';

.ChatComponent {
  display: flex;
  width: 300px; /* Или любая другая ширина */
  background-color: @primary-main; /* Цвет фона сайдбара */
  padding: 15px;
  box-sizing: border-box;
  justify-content: end;
  flex-direction: column;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;

  &_collapsed {
    display: none;
  }

  &__chatContainer {
    background-color: black;
  }

  &__chat {
    height: 100%;
    padding: 15px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-right: 5px;
  }

  &__message {
    text-align: end;
  }

  &__closeChatIcon {
    display: flex;
    justify-content: space-between;
  }

  &__nameContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.OpenChatIcon {
  position: absolute;
  right: 15px;
  top: 15px;

  &_hide {
    display: none;
  }
}
